[toolchain]
anchor_version = "0.30.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
ashborn = "BzBUgtEFiJjUXR2xjsvhvVx2oZEhD2K6qenpg727z5Qe"

[programs.devnet]
ashborn = "BzBUgtEFiJjUXR2xjsvhvVx2oZEhD2K6qenpg727z5Qe"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000

[test.validator]
url = "https://api.devnet.solana.com"

[[test.genesis]]
address = "ASHBrnShdwMnrch1111111111111111111111111"
program = "target/deploy/ashborn.so"
